@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li.on {
      opacity: 1; }
    #wrap .bg li:nth-of-type(1) {
      background: #ebeae9; }
    #wrap .bg li:nth-of-type(2) {
      background-image: url(../img/bg2.jpg); }
    #wrap .bg li:nth-of-type(3) {
      background-image: url(../img/bg3.jpg); }
    #wrap .bg li:nth-of-type(4) {
      background-image: url(../img/bg4.jpg); }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 70vh;
      position: relative;
      top: 15vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        border: 1px solid #999;
        background: rgba(255, 255, 255, 0.5);
        opacity: 0.5;
        backdrop-filter: blur(10px);
        transition: opacity 1s; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner {
        width: 100%;
        height: 100%; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .portfolio {
          width: 100%;
          height: 80px;
          border-bottom: 1px solid #999; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .portfolio h1 {
            font: bold 80px/80px "Lato";
            color: #333;
            margin-left: 10px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap {
          width: 100%;
          height: calc(100% - 81px); }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap::after {
            content: '';
            display: block;
            clear: both; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article {
            width: 100%;
            height: 100%;
            float: left; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) {
              width: 20%;
              border-right: 1px solid #999; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) {
              width: 50%;
              border-right: 1px solid #999; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .line {
                width: 100%;
                height: 300px; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) p {
                width: 100%;
                height: 100px;
                border-top: 1px solid #999;
                font: bold 90px/100px "Lato";
                color: #111; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(3) {
              width: 30%;
              display: flex;
              flex-wrap: wrap; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(3) h2 {
                width: 100%;
                height: 300px;
                font: 40px/1 "Lato";
                color: #111;
                display: flex;
                justify-content: center;
                align-items: center; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(3) .intro {
                width: 100%;
                height: calc(100% - 301px);
                border-top: 1px solid #999;
                font: 14px/1.4 "Lato";
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 20vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(20vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-pagination {
    position: absolute;
    height: 50vh;
    left: auto;
    width: auto;
    right: 20vw;
    top: 5vh; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 40px;
      opacity: 0.7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
