@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li.on {
      opacity: 1; }
    #wrap .bg li:nth-of-type(1) {
      background-image: url(../img/bg1.jpg); }
    #wrap .bg li:nth-of-type(2), #wrap .bg li:nth-of-type(3), #wrap .bg li:nth-of-type(4) {
      background-image: url(../img/bg2.jpg); }
    #wrap .bg li:nth-of-type(5) {
      background-image: url(../img/bg3.jpg); }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 70vw;
      height: 70vh;
      position: relative;
      top: 15vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        border: 1px solid #999;
        background: rgba(255, 255, 255, 0.4);
        opacity: 0.5;
        backdrop-filter: blur(10px);
        transition: opacity 1s; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner {
        display: flex;
        position: relative; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article {
          height: 100%;
          display: flex;
          align-content: center;
          flex-wrap: wrap; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:first-child {
            width: 40%;
            background: rgba(0, 0, 0, 0.6); }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:first-child .pic {
              width: 20%;
              position: absolute;
              top: 50%;
              left: 40%;
              transform: translate(-45%, -50%);
              z-index: 2; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:first-child .pic h1 {
                display: inline-block;
                padding: 20px 10px;
                background: #333;
                font: bold 50px/1 "Lato";
                color: #fff; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:first-child::after {
              content: '';
              display: block;
              width: 30%;
              height: 380px;
              background-image: url(../img/pixel.png);
              background-size: 3px 3px;
              position: absolute;
              top: 50%;
              left: 39%;
              transform: translate(-40%, -50%);
              z-index: 1; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:last-child {
            width: 60%; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:last-child .profile {
              width: 40%;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%); }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:last-child .profile h2 {
                font: bold 22px/1.2 "Lato";
                color: #555; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:last-child .profile h3 {
                font: bold 46px/1 "Lato";
                color: #333;
                padding-bottom: 10px;
                margin-bottom: 20px;
                border-bottom: 1px solid #333; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner article:last-child .profile p {
                font: 14px/1.4 "Lato";
                color: #555; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner {
        width: 100%;
        height: 100%;
        display: flex; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article {
          width: 50%;
          height: 100%;
          display: flex;
          overflow: hidden; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap {
            width: 100%;
            height: 100%;
            padding: 0 50px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap .main_tit, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap .main_tit, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap .main_tit {
              width: 100%;
              margin-bottom: 20px; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap .main_tit span, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap .main_tit span, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap .main_tit span {
                font: bold 50px/1 "Lato";
                color: #999;
                margin-bottom: 10px; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap .main_tit h1, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap .main_tit h1, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap .main_tit h1 {
                font: 28px/1 "Lato";
                color: #333; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap .pic, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap .pic, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap .pic {
              width: 100%;
              height: 70%;
              border: 1px solid #ddd; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap .pic img, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap .pic img, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap .pic img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(1) > .wrap .pic:hover img, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(1) > .wrap .pic:hover img, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(1) > .wrap .pic:hover img {
                object-position: bottom;
                transition: 3s; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(2), #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(2), #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(2) {
            background: #555; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(2) > .wrap, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(2) > .wrap, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(2) > .wrap {
              width: 100%;
              height: 100%;
              padding: 0 70px;
              display: flex;
              flex-wrap: wrap;
              align-content: center; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(2) > .wrap h2, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(2) > .wrap h2, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(2) > .wrap h2 {
                font: 20px/1 "Lato";
                color: #ddd;
                margin-bottom: 20px; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(2) > .wrap p, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(2) > .wrap p, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(2) > .wrap p {
                font: 14px/1.6 "Lato";
                color: #ccc;
                margin-bottom: 20px;
                letter-spacing: 1px; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(2) > .wrap a, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(2) > .wrap a, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(2) > .wrap a {
                display: inline-block;
                width: 100px;
                height: 30px;
                background: #333;
                text-align: center;
                font: 13px/30px "Lato";
                color: #ddd;
                margin-right: 10px;
                transition: 0.5s; }
                #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .inner article:nth-of-type(2) > .wrap a:hover, #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .inner article:nth-of-type(2) > .wrap a:hover, #wrap .swiper-wrapper .swiper-slide[data-custom-index="3"] .inner article:nth-of-type(2) > .wrap a:hover {
                  background: #ddd;
                  color: #000; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner {
        width: 100%;
        height: 100%; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap {
          width: 100%;
          height: 100%;
          display: flex; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .info {
            width: 50%;
            height: 100%;
            background: #555;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .info > h1 {
              font: bold 40px/1 "Lato";
              color: #fff; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm {
            width: 50%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form {
              width: 100%;
              padding: 0 50px; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form legend {
                text-indent: -9999px;
                opacity: 0; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article {
                width: 100%; }
                #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article label {
                  display: block;
                  color: #333;
                  margin-bottom: 5px;
                  font: bold 14px/1 "Lato"; }
                #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article input[type=text], #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article input[type=email], #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article input[type=submit], #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article textarea {
                  width: 100%;
                  height: 40px;
                  border: 1px solid #ddd;
                  font: 12px/1 "Lato";
                  color: #111;
                  padding: 10px;
                  margin-bottom: 20px;
                  resize: none;
                  background: #eee;
                  transition: 0.5s; }
                #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article textarea {
                  height: 100px; }
                #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article input[type=submit] {
                  font-size: 14px;
                  cursor: pointer; }
                  #wrap .swiper-wrapper .swiper-slide[data-custom-index="4"] > .inner > .wrap .myForm #contact-form article input[type=submit]:hover {
                    background: #333;
                    color: #fff; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 15vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(15vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-pagination {
    position: absolute;
    height: 6vh;
    left: auto;
    width: auto;
    right: 15vw;
    top: 5vh; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 40px;
      opacity: 0.7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

@media screen and (max-width: 1179px) {
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide .inner .tit h1 {
      font-size: 60px; }
    #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner {
      width: 100%;
      height: 100%; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap {
        width: 100%;
        height: calc(100% - 81px); }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article {
          width: 100%;
          height: 100%;
          float: left; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(1) {
            width: 15%;
            border-right: 1px solid #999; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(2) {
            width: 60%; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(2) .txt p {
              font-size: 60px; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(3) {
            width: 25%;
            height: 100%;
            display: flex;
            flex-wrap: wrap; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(3) h2 {
              font-size: 26px; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(3) .intro {
              font-size: 12px; }
    #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article span {
      font-size: 40px; }
    #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt {
      width: 100%;
      padding: 10px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt h2 {
        font-size: 20px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt p {
        font-size: 12px;
        line-height: 1.6; }
    #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info {
      padding: 150px 20px 0px 20px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info h2 {
        font-size: 22px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info dl dt {
        font-size: 14px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info dl dd {
        font-size: 14px; }
    #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form {
      width: 60%;
      height: 100%;
      float: left;
      padding: 40px 0px 0px 50px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form legend {
        font-size: 28px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article {
        width: 100%; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article label {
          font-size: 12px; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 20vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(20vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-pagination {
    position: absolute;
    height: 6vh;
    left: auto;
    width: auto;
    right: 20vw;
    top: 5vh; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 40px;
      opacity: 0.7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; } }

/*# sourceMappingURL=style.css.map */
