@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li.on {
      opacity: 1; }
    #wrap .bg li:nth-of-type(1) {
      background-image: url(../img/bg1.jpg); }
    #wrap .bg li:nth-of-type(2) {
      background-image: url(../img/bg2.jpg); }
    #wrap .bg li:nth-of-type(3) {
      background-image: url(../img/bg3.jpg); }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 70vh;
      position: relative;
      top: 15vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        border: 1px solid #999;
        background: rgba(255, 255, 255, 0.4);
        opacity: 0.5;
        backdrop-filter: blur(10px);
        transition: opacity 1s; }
        #wrap .swiper-wrapper .swiper-slide .inner .tit {
          width: 100%;
          height: 80px;
          border-bottom: 1px solid #999; }
          #wrap .swiper-wrapper .swiper-slide .inner .tit h1 {
            font: bold 80px/80px "Lato";
            color: #333;
            margin-left: 10px; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner {
        width: 100%;
        height: 100%; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap {
          width: 100%;
          height: calc(100% - 81px); }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap::after {
            content: '';
            display: block;
            clear: both; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article {
            width: 100%;
            height: 100%;
            float: left; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(1) {
              width: 20%;
              border-right: 1px solid #999; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(2) {
              width: 50%;
              height: 100%;
              border-right: 1px solid #999;
              position: relative; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(2) .txt {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0; }
                #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(2) .txt p {
                  width: 100%;
                  height: 110px;
                  border-top: 1px solid #999;
                  font: bold 90px/110px "Lato";
                  color: #111; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(3) {
              width: 30%;
              height: 100%;
              display: flex;
              flex-wrap: wrap; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(3) h2 {
                width: 100%;
                height: 300px;
                font: 40px/1 "Lato";
                color: #111;
                display: flex;
                justify-content: center;
                align-items: center; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="0"] .inner .wrap article:nth-of-type(3) .intro {
                width: 100%;
                height: calc(100% - 301px);
                border-top: 1px solid #999;
                font: 14px/1.4 "Lato";
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap {
        width: 100%;
        height: calc(100% - 81px); }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article {
          width: 100%;
          height: calc(100% / 3);
          display: flex;
          justify-content: space-evenly;
          border-bottom: 1px solid #999;
          padding: 20px 10px; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article:last-child {
            border-bottom: none; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 20vw;
            font: 60px/1 "Lato";
            color: #333; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .vid {
            width: 30vw;
            height: 100%;
            border: 1px solid #ddd; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .vid video {
              width: 100%;
              height: 100%;
              object-fit: contain; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt {
            width: 100%;
            padding: 15px 20px; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt h2 {
              font: bold 24px/1 "Lato";
              color: #111;
              margin-bottom: 10px; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt p {
              font: 16px/1.4 "Lato";
              color: #333;
              margin-bottom: 20px; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt a {
              display: block;
              width: 100px;
              height: 30px;
              border: 1px solid #999;
              background: #efefef;
              font: 12px/30px "Lato";
              color: #666;
              text-align: center;
              transition: 0.5s; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="1"] .wrap article .txt a:hover {
                background: #333;
                color: #fff; }
      #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap {
        width: 100%;
        height: calc(100% - 81px); }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info {
          width: 40%;
          height: 100%;
          float: left;
          padding: 180px 20px 0px 100px;
          border-right: 1px solid #aaa; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info h2 {
            font: bold 24px/1 "Lato";
            color: #111;
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info dl {
            width: 100%;
            display: inline-block; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info dl dt {
              display: inline-block;
              width: 25%;
              font: bold 16px/1 "Lato";
              color: #333;
              margin-bottom: 10px; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap .info dl dd {
              display: inline-block;
              width: 72%;
              font: 16px/1 "Lato";
              color: #333;
              margin-bottom: 10px; }
        #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form {
          width: 60%;
          height: 100%;
          float: left;
          padding: 80px 0px 0px 100px; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form legend {
            font: bold 32px/1 "Lato";
            color: #333;
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article {
            width: 100%; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article label {
              display: block;
              color: #333;
              margin-bottom: 5px;
              font: bold 14px/1 "Lato"; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article input[type=text], #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article input[type=email], #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article input[type=submit], #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article textarea {
              width: 80%;
              height: 40px;
              border: 1px solid #ddd;
              font: 12px/1 "Lato";
              color: #111;
              padding: 10px;
              margin-bottom: 20px;
              resize: none;
              background: #eee;
              transition: 0.5s; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article textarea {
              height: 100px; }
            #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article input[type=submit] {
              font-size: 14px;
              cursor: pointer; }
              #wrap .swiper-wrapper .swiper-slide[data-custom-index="2"] .wrap #contact-form article input[type=submit]:hover {
                background: #333;
                color: #fff; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 20vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(20vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-pagination {
    position: absolute;
    height: 6vh;
    left: auto;
    width: auto;
    right: 20vw;
    top: 5vh; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 40px;
      opacity: 0.7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
