@charset 'UTF-8';
@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$font : 'Lato';

#wrap{
    width:100%; height:100vh; position:relative;
    background:#fff; overflow: hidden;

    .bg li{
        width:100%; height:100%; position:absolute;
        top:0px; left:0px; background-repeat:no-repeat;
        background-position:center; background-size:cover;
        opacity:0; transition:1s;

        &.on{
            opacity:1;
        }

        &:nth-of-type(1){
            background-image:url(../img/bg1.jpg);
        }
        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
            background-image:url(../img/bg2.jpg);
        }
        &:nth-of-type(5){
            background-image:url(../img/bg3.jpg);
        }
    }

    .swiper-wrapper{
        width:100%; height:100%; 
        .swiper-slide{
            width:70vw; height:70vh; position:relative;
            top:15vh; 
            .inner{
                width:100%; height:100%; border:1px solid #999;
                background:rgba(255,255,255,0.4);
                opacity:0.5;
                backdrop-filter:blur(10px); transition:opacity 1s;
            }
            &[data-custom-index="0"]{
                .inner{
                    display:flex; position:relative;
                    article{
                        height:100%; display:flex; align-content: center; flex-wrap: wrap;
                        justify-content: center;
                        &:first-child{
                            width:40%;  background:rgba(0,0,0,0.6);
                                h1{
                                    display:inline-block; padding:20px 0px;
                                    width:30%; text-align:center;
                                    background:#333; font: bold 46px/1 $font; color:#fff; z-index:2;
                                    position:absolute; top:50%; left:39%;
                                    transform:translate(-40%,-50%);
                                }
                            &::after{
                                content:''; display:block; 
                                width:30%; height:380px;
                                background-image: url(../img/pixel.png);
                                background-size: 3px 3px;
                                position:absolute; top:50%; left:39%;
                                transform:translate(-40%,-50%); z-index:1;
                            }
                        }
                        &:last-child{
                            width:60%; 
                            .profile{
                                width:40%; position:absolute; top:50%; right:0; transform:translateY(-50%); 
                                h2{
                                    font: bold 22px/1.2 $font;color:#555;
                                }
                                h3{
                                    font: bold 40px/1 $font; color:#333;
                                    padding-bottom:10px; margin-bottom:20px;
                                    border-bottom:1px solid #333;
                                }
                                p{
                                    font: 14px/1.4 $font; color:#555;
                                }
                            }
                        }
                    }
                }
            }
            &[data-custom-index="1"],&[data-custom-index="2"],&[data-custom-index="3"]{
                .inner{
                    width:100%; height:100%; display:flex;
                    article{
                        width:50%; height:100%; display:flex;
                        overflow:hidden; 

                        &:nth-of-type(1){
                            
                            >.wrap{
                                width:100%; height:100%; padding:0 50px;
                                display:flex; justify-content:center; align-content: center; flex-wrap:wrap; 
                                .main_tit{
                                    width:100%; margin-bottom:20px;
                                    span{
                                        font:bold 50px/1 $font; color:#999;
                                        margin-bottom:10px;  
                                    }
                                    h1{ font:28px/1 $font; color:#333;}
                                }
                                .pic{
                                    width:100%; height:70%; border:1px solid #ddd;
                                    img{
                                        width:100%; height:100%;  object-fit: cover; object-position: top; 
                                    }
                                    &:hover img{
                                        object-position:bottom;
                                        transition:3s;
                                    }
                                }
                            }
                            
                        }
                        &:nth-of-type(2){
                            background:#555;
                            >.wrap{
                                width:100%; height:100%;
                                padding:0 70px; display:flex;
                                flex-wrap: wrap; 
                                align-content: center;
                                h2{
                                    font:20px/1 $font; color:#ddd;
                                    margin-bottom:20px;
                                }
                                p{
                                    font:14px/1.6 $font; color:#ccc;
                                    margin-bottom:20px;
                                    letter-spacing: 1px;
                                }
                                a{
                                    display:inline-block;
                                    width:100px; height:30px;
                                    background:#333;
                                    text-align:center;
                                    font:13px/30px $font; color:#ddd;
                                    margin-right:10px; transition:0.5s;
                                    &:hover{
                                        background:#ddd;
                                        color:#000; 
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &[data-custom-index="4"]{
                >.inner{
                    width:100%; height:100%;
                    >.wrap{
                        width:100%; height:100%; display:flex;
                        .info{
                            width:50%; height:100%; background:#555;
                            display:flex; flex-wrap: wrap; align-content: center;
                            justify-content: center;
                            >h1{
                                font:bold 40px/1 $font; color:#fff;
                            }
                        }
                        .myForm{
                            width:50%; height:100%;
                            display:flex; flex-wrap: wrap; justify-content:center; align-content: center;
                            #contact-form{
                                width:100%; padding:0 50px;
                                legend{
                                    text-indent: -9999px;
                                    opacity:0;
                                }
                                article{
                                    width:100%;
                                    label{
                                        display:block; color:#333;
                                        margin-bottom:5px; font:bold 14px/1 $font;
                                    }
                                    input[type=text], input[type=email],input[type=submit],textarea{
                                        width:100%; height:40px;
                                        border:1px solid #ddd;
                                        font:12px/1 $font; color:#111;
                                        padding:10px; margin-bottom:20px;
                                        resize:none; background:#eee;
                                        transition:0.5s;
                                    }
                                    textarea{
                                        height:100px;
                                    }
                                    input[type=submit]{
                                        font-size:14px; cursor:pointer;
                                        &:hover{
                                            background:#333; color:#fff;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
            &.swiper-slide-active .inner{
                opacity:1;
            }
        }
        
        
    }
    .swiper-button-next{
        top:auto; bottom:5vh; right:15vw;
        transform:scale(0.5); filter:brightness(0%);
        opacity: 0.7;
    }
    .swiper-button-prev{
        top:auto; bottom:5vh; left:auto; right:calc(15vw + 50px);
        transform:scale(0.5); filter:brightness(0%); opacity: 0.7;
    }
    .swiper-pagination{
        position:absolute; height:6vh;left:auto; width:auto; right:15vw; top:5vh; 
        span{
            width:auto; height:auto; background:transparent;
            border-radius:0px; margin-left:40px;
            opacity:0.7;
            font: bold 14px/1 $font; color:#333;
            &.swiper-pagination-bullet-active{
                opacity:1;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width:1290px){
    #wrap{
        .swiper-wrapper{
            .swiper-slide{
                width:80vw;
                &[data-custom-index="0"]{
                    .inner{
                        article{
                            &:first-child{
                                    h1{
                                        width:25vw; 
                                        font-size:38px;
                                        left:33%; 
                                    }
                                &::after{
                                    width:25vw; left:33%;
                                }
                            }
                            &:last-child{
                                .profile{
                                    h2{ font-size:18px; }
                                    h3{ font-size:36px; }
                                }
                            }
                        }
                    }
                }
                &[data-custom-index="1"],&[data-custom-index="2"],&[data-custom-index="3"]{
                    .inner{
                        article{
                            &:nth-of-type(1){
                                >.wrap{
                                    padding:0 20px;
                                    .main_tit{
                                        span{ font-size:40px; }
                                        h1{ font-size:24px; }
                                    }
                                }
                                
                            }
                            &:nth-of-type(2){
                                >.wrap{
                                    padding:0 30px;
                                    p{
                                        letter-spacing: 0;
                                    }
                                }
                            }
                        }
                    }
                }
    
                &[data-custom-index="4"]{
                    >.inner{
                        >.wrap{
                            .info{
                                >h1{
                                    font:bold 36px/1 $font;
                                }
                            }
                        }
                    }
                }
            }
        }
        .swiper-button-next{ right:10vw; }
        .swiper-button-prev{ right:calc(10vw + 50px); }
        .swiper-pagination{
           right:10vw;
            span{ margin-left:20px; }
        }
    }
    
}

@media screen and (max-width:960px){
    #wrap{
        .swiper-wrapper{
            .swiper-slide{
                
                &[data-custom-index="0"]{
                    .inner{
                        article{
                            &:first-child{
                                    h1{
                                        width:30vw;
                                    }
                                &::after{
                                    width:30vw;
                                }
                            }
                            &:last-child{
                                .profile{
                                    h2{ font-size:16px; }
                                    h3{ font-size:32px; }
                                    p{ font-size:12px; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    #wrap{
        .swiper-wrapper{
            .swiper-slide{
                width:90vw;
                &[data-custom-index="0"]{
                    .inner{
                        article{
                            &:first-child{
                                width:40%;
                                    h1{
                                        width:40vw; left:25%;
                                        font-size:30px;
                                    }
                                &::after{
                                    width:40vw; left:25%;
                                }
                            }
                            &:last-child{
                                .profile{
                                    h2{ font-size:14px; }
                                    h3{ font-size:28px; }                              }
                            }
                        }
                    }
                }
                &[data-custom-index="1"],&[data-custom-index="2"],&[data-custom-index="3"]{
                    .inner{
                        article{
                            &:nth-of-type(1){
                                >.wrap{
                                    .main_tit{
                                        span{ font-size:30px; }
                                        h1{ font-size:18px; }
                                    }
                                }
                                
                            }
                            &:nth-of-type(2){
                                >.wrap{
                                    padding:0 20px;
                                    h2{ font-size:16px; }
                                    p{ font-size:12px; }
                                    a{ width:80px; font-size:12px; }
                                }
                            }
                        }
                    }
                }
                &[data-custom-index="4"]{
                    >.inner{
                        >.wrap{
                            .info{
                                >h1{
                                    font-size:28px;
                                }
                            }
                            .myForm{
                                #contact-form{
                                    padding:0 20px;
                                    article label{
                                        font-size:12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }   
        .swiper-button-next{ right:5vw; }
        .swiper-button-prev{ right:calc(5vw + 50px);  }
        .swiper-pagination{
            right:5vw;
            span{ margin-left:15px; font-size:12px; }
        }
    }
}